.center {
  position: absolute;
  top: 80%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
.centerrr {
  position: absolute;
  top: 90%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}


